*{
    text-align: center;
    color: blanchedalmond;
    font-family:Arial, Helvetica, sans-serif;
} 

body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.925);
}

main{
    display: flex;
    flex-direction: column;
    
}

header{   
    background-color: black;
    height: 55px;
    padding-bottom: 35px;
    margin: none;
    
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    
}

.bio div{
   padding: 20px;
}

.bio h1{
    padding: 20px;
}

.bio p{
    padding-bottom: 75px;
    width: 450px;
    align-self: center;
}

.bio img{
    border-radius: 15%;
    width: 350px;
    height: 350px;
}
 

.endereco{
    margin-top: 50px;
}
.endereco iframe{
   
    width: 450px; 
    height: 250px;
    
}
.video{
    align-self: center;
    margin-bottom: 30px;
}
.video h2{
    margin-top: 50px;
}

.video iframe{
    margin-top: 20px;
    width: 450px; 
    height: 250px;
}

footer{
     
    margin: 30px;
    
}


.icones{
    width: 50px;
    height:50px;
    padding-right:30px;
    padding-top: 30px;
}

/* Estilos da contato.html */

.menu{
    padding-top: 40px;
    list-style: none;
    
}
.menu li{
    display: inline;
    padding: 30px;
    text-decoration: none;
}

.menu li a{
    font-size: 20px;
    text-decoration: none;
} 



.menu li a:hover{
    font-size: 125%;
    color: rgba(119, 0, 255, 0.534);
}

input{
   
    border-radius: 10px;
    color: black;
}

button{
    width: 100PX;
    height: 25px;
    border-radius: 10px;
    color: black;
}

textarea{
    border-radius: 20px;
    color: black;
    height: 200px;
}